.extra {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: grey;
    position: fixed;
    position: -webkit-fixed;
    z-index: 2;
    height: 40px;
    background: rgba($color: #fff, $alpha: 0.9);
    box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.8);
    font-size: 0.85rem;
    margin-bottom: -10px;
  }
  