<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container justify-content-center">
       <div class="d-flex flex-row justify-content-between align-items-center col-lg-9 col-md-11">
           <a href="#" class="navbar-brand">
               <img src="assets/instagram.png" alt=""/>
           </a>
           <div>
               <form class="form inline my-2 my-lg-0">
                   <input type="text" class="form-control mr-sm-2" placeholder="Recherche" aria-label="search">
               </form>
           </div>
           <div>
               <ul class="list-inline m-0">
                   <li class="list-inline-item ms-2">
                       <a routerLink="">
                        <button class="btn">
                            <svg class="" height="24" viewBox="0 0 48 48" width="1.6rem">
                              <path clicp-rule="evenodd" attr.d="{{ active ? homeIcon.black : homeIcon.white }}"
                                fill-rule="evenodd"></path>
                            </svg>
                        </button>
                       </a>
                   </li>
                   <li class="list-inline-item ms-2 align-middle">
                    <a href="" routerLink="/profile/1">
                        <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center post-profil-photo">
                            <img src="assets/webporfolio.png" alt="pdp">
                        </div>
                    </a>
                </li>
               </ul>
           </div>
       </div>
   </div>
</nav>