<div class="card">
    <div class="card-header">
        <div class="d-flex flex-row align-items-center" *ngFor="let item of postuser">
            <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center post-profil-photo ms-3" >
                <img src="{{item.picture}}" alt="pdp">
            </div>
            <span class="post_name ms-2">{{item.username}}</span>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="embed-responsive">
            <img [src]="image" alt="image" class="post__image" (dblclick)="clickLikePost()">
        </div>
    <div class="d-flex justify-content-between">
        <ul class="list-inline">
            <li class="list-inline-item">
                <button class="btn" (click)="clickLikePost()">
                    <svg class="{{ liked ? 'liked' : 'not-liked' }}" height="24" viewBox="0 0 48 48" width="1.6rem">
                      <path clicp-rule="evenodd" attr.d="{{ liked ? likeIcon.black : likeIcon.white }}"
                        fill-rule="evenodd"></path>
                    </svg>
                </button>
            </li>
            <li class="list-inline-item">
                <button class="btn add-comment{{id}}" data-bs-toggle="modal">
                    <svg aria-label="Commenter" class="_8-yf5 " fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="1.6rem"><path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd"></path></svg>
                </button>
            </li>
        </ul>
    </div>
    <div class="ps-3 pe-3 pb-2">
        <strong class="d-block">{{like}} J'aime</strong>
        <strong class="d-block">Sandratra </strong>
        <p>{{description}}</p>

            <button class="btn p-0 add-comment{{id}}" data-bs-toggle="modal">
                <span class="text-muted">On a {{getNbrCommentaire(id)}} commentaire{{getNbrCommentaire(id)>1?'s':''}}</span>
            </button>
            <div>
                <div *ngFor="let comment of getlastComment()">
                    <strong class="d-block" *ngFor="let item of getUser(comment.userId)">{{item.username}}</strong>
                    <span>{{comment.commentaire}}</span>
                </div>
            </div>

        <small class="text-muted">il y a {{createAt}}</small>
    </div>
    <div class="position-relative">
        <input type="text" placeholder="Ajouter un commentaire..." class="input__post border-0 p-3"
        (keyup)="onChangeInput()"
        (keydown)="handlePostComment()"
        [(ngModel)]="commentInput"
        >
        <button class="btn btn-primary btn-post" (click)="addComment()" [disabled]="publication">Publier</button>
    </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="static{{id}}" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-body">
              <app-commentaire
              [userId]="userId"
              [id]=id
              [description]="description"
              [Commentaires]=Commentaires
              [image]="image"
              [like]=like
              [liked]=liked
              [createAt]="createAt"
              (SendChanges)="changelikefromComment($event)"
              ></app-commentaire>
            </div>
          </div>
        </div>
      </div>
</div>